<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>About {{name}}</h1>
        <img src="/img/IMG_1559.JPG" width="200px" height="400px">
    </body>
</html>